data/
plots/
.DS_Store
scripts/plot_together.jl
scripts/figures/
scripts/generate_ground_truth_values.jl
scripts/testing.jl
scripts/outputs/
scripts/classify_sr_equations.jl
scripts/run_SR_tests.jl
data_old/
figures/
.claude/